@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <iframe src="http://free.timeanddate.com/clock/i5dsw47s/n95/tlvn/fn7/fs22/tceee/pceee/ahr/avt/ftb/pd2/tt0/tw0/tm1/ta1/tb4" frameborder="0" width="154" height="62" align="right"></iframe>    
    <h1>TAEYEON</h1>
    <p class="lead">My Idol - My Angel.</p>
    <p><a href="https://kimtaeyeonvietnam.wordpress.com/" class="btn btn-primary btn-large">Welcome &raquo;</a></p>
    <img src="http://www.allkpop.com/upload/2016/05/af_org/Taeyeon_1462306217_af_org.jpg" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Image</h2>
        <p>
            Many many beautiful image! <br />
            <img src="~/Image/tumblr_oc52fu0jba1rx9kywo1_540.gif" height="150" width="324"/>
        </p>
        <p><a class="btn btn-default" href="https://www.google.com.vn/search?q=taeyeon&espv=2&biw=1366&bih=648&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjoq9nRo6DPAhVIpI8KHfgwCPcQ_AUIBigB">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Music</h2>
        <p>
            Wonderfull music mp3 <br />
            <img src="http://i0.wp.com/kpoply.com/wp-content/uploads/2016/09/TAEYEON-All-With-You-Lyrics.jpg?resize=752%2C440" height="150" width="300"/><br />
            <audio controls autoplay>
                <source src="~/MP3/01.%20All%20With%20You.mp3" type="audio/mpeg" />
            </audio>
        </p>
        <p><a class="btn btn-default" href="http://mp3.zing.vn/nghe-si/TAEYEON">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Video</h2>
        <p>
            You can easily find many excellent video.<br />
            <iframe width=" 300" height="169" src="https://www.youtube.com/embed/Ri6wvGjuoOg" frameborder="0"></iframe>
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/results?search_query=Taeyeon">See more &raquo;</a></p>
    </div>
</div>